@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@inject IAccessTokenProvider AuthenticationService
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <span class="mr-5">Welcome <b>@context.User.Identity.Name</b></span>
        <RadzenButton Click="BeginLogout" Text="Log out"></RadzenButton>
    </Authorized>
    <NotAuthorized>
        <RadzenButton Click="@GoToLogin" Text="Log in"></RadzenButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void GoToLogin(MouseEventArgs args)
    {
        Navigation.NavigateTo($"authentication/login?returnUrl={Navigation.Uri}");
    }
}