@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" style="font-family: Rocksalt, Arial, Helvetica, sans-serif;
        color: #D05A3D" href="">Gearlist</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="list">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> My gear
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="help">
                    <span class="oi oi-question-mark" aria-hidden="true"></span> Help
                </NavLink>
            </li>
        </AuthorizeView>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="privacy">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Privacy policy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="tou">
                <span class="oi oi-lock-locked" aria-hidden="true"></span> Terms of Use
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="@BeginLogout">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Log out
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="#" @onclick="@GoToLogin">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Log in
                    </NavLink>
                </li>    
            </NotAuthorized>
        </AuthorizeView>
        <AuthorizeView>
            
        </AuthorizeView>
    </ul>
</div>

@code {

    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private void GoToLogin(MouseEventArgs args)
    {
        Navigation.NavigateTo($"authentication/login?returnUrl={Navigation.Uri}");
    }

    private void Profile(MouseEventArgs args)
    {
        Navigation.NavigateTo("https://login.microsoftonline.com/f497bee3-a7ef-4984-a564-41206d334596/oauth2/v2.0/authorize?p=b2c_1_profile_edit");
    }

}
