<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://mlgearlist.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/cce79f89-1ffc-4aa6-b5d1-a767e9e013cb/resourceGroups/gearlist-rg/providers/Microsoft.Web/sites/mlgearlist</ResourceId>
    <UserName>$mlgearlist</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://mlgearlist.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>