@page "/"
<h1>Welcome to Gearlist!</h1>

<AuthorizeView>
    <NotAuthorized>
        This is an app where musicians can keep a track of their gear. To get started, hit the Log In button.
    </NotAuthorized>
    <Authorized>
        Welcome. To add gear, click the "My gear" menu item on the left. Kek.
    </Authorized>
</AuthorizeView>