@page "/"
@inject NavigationManager navManager
@using Microsoft.AspNetCore.WebUtilities

<h1>Welcome to Gearlist!</h1>
<p>
    <AuthorizeView>
        <NotAuthorized>
<p>
    This is an app where musicians can keep a track of their gear. To get started, hit the Log In button.
</p>
<p>
    This site uses WebAssembly, so you need a fairly modern browser. You also need to allow popups for the
    login/signup process.
</p>
<p>
    Currently the service supports creating a local user (stored in Microsoft's Azure AD B2C in the West Europe region). 
</p>
        </NotAuthorized>
<Authorized>
    Welcome. To add gear, click the "My gear" menu item on the left.
</Authorized>
    </AuthorizeView>
</p>

<p>
    <strong>THIS SERVICE IS IN PRE-ALPHA STATE, USE AT YOUR OWN RISK</strong>
</p>
<p>
    <strong>☠ ☠ ☠ CURRENTLY DATA MAY BE WIPED AT ANY TIME WITHOUT PRIOR NOTIFICATION ☠ ☠ ☠</strong>
</p>
<p>
    <strong>☠ CONSIDER YOURSELF DULY WARNED! ☠</strong>
</p>
<p>
    Now that that's dealt with: Welcome! This is a service where for example musicians or audio technicians
    can keep track of their gear. Obvousily this may be usable for anyone with lots of stuff that they need to
    keep track of, but as a hobby musician and hobby home studio enthusiast myself, that is my own main focus.
</p>
<p>
    My vision for the service is one where you can add all your instruments, microphones, rack gear and whatever
    other equipment you have - with photos of them - so you have one place where all the data is. This way, if
    there is a fire or flood or break-in or other catastrophy, you have a list of everything for e.g. insurance
    companies.
</p>
<p>
    What I also envision is that once you have all your gear listed with serial numbers and notes, if an instrument
    gets stolen you can flag it as such so when people find instruments for sale on eBay or Huuto.net or other places
    and ask the seller for the serial number, they can do a quick lookup on this site and immediately see that it's
    stolen. The user can then notify the owner of the instrument that someone is trying to sell it.
</p>
<p>
    Currently you can only add and delete gear. Coming soon:
    <ul>
        <li>Edit gear</li>
        <li>Flag as stolen</li>
        <li>Search for stolen gear by serial number</li>
        <li>CSV bulk import of gear</li>
    </ul>
</p>

@code{

    string q { get; set; }
    override protected void OnInitialized()
    {
        var uri = navManager.ToAbsoluteUri(navManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("p", out var page))
        {
            if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("q", out var query))
            {
                q = "?q=" + query.First();
            }
            Console.WriteLine("Parameter: " + page);
            navManager.NavigateTo(page.First() + q);
        }
    }
}
