@page "/newgear"
@using GearlistFront.Model
@inject HttpClient Http
@inject IAuthenticationManager AuthenticationManager
@inject NavigationManager NavigationManager
<h3>New Gear</h3>

<EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <table class="table">
        <tr>
            <td>Type</td>
            <td><InputText class="form-component" placeholder="Eg. guitar, bass, keyboard..."  @bind-Value="model.Type" /></td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td><InputText placeholder="Eg. Martin, Sigma, Roland..." @bind-Value="model.Manufacturer" /></td>
        </tr>
        <tr>
            <td>Model</td>
            <td><InputText placeholder="Eg. M-36, 000M-15+, TR-808..." @bind-Value="model.Model" /></td>
        </tr>
        <tr>
            <td>Serial number</td>
            <td><InputText @bind-Value="model.Serial" /></td>
        </tr>
        <tr>
            <td>Year</td>
            <td><InputText @bind-Value="model.Year" /></td>
        </tr>
        <tr>
            <td>Purchase date</td>
            <td><InputDate @bind-Value="model.PurchaseDate" /></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><InputTextArea @bind-Value="model.Notes"></InputTextArea></td>
        </tr>
    </table>
    <button class="button" type="submit">Save</button> 
</EditForm>
@code {

    GearModel model;

    protected override void OnInitialized() {
        model = new GearModel();
    }

    private async void HandleValidSubmit()
    {

        try
        {

            var gettoken = await AuthenticationManager.GetAccessTokenAsync(
                "https://mlgearlist.onmicrosoft.com/1a2c6297-8aca-450f-bd75-605267d0d0b1/api");
            var token = gettoken.AccessToken.ToString();

            System.Console.WriteLine("Writing " + JsonSerializer.Serialize(model));
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            var response = await Http.PostAsync(
            "https://gearlistcloudapp.azurewebsites.net/api/AddGear?code=BhkvT2SDpUGoS1cYiQa96uty5WIRrpSS9UQu8PizjyaYEcIiw9bOWA==",
            //"http://localhost:7071/api/AddGear",
            new StringContent(JsonSerializer.Serialize(model)));

            if (response.IsSuccessStatusCode) {
                model = new GearModel();
                Console.WriteLine("OK OK!");
                NavigationManager.NavigateTo("/mygear");

            } else {
                // Error saving or sum'n
            }
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}
