@page "/passwordreset-callback"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.WebUtilities;

<p>@_errorMessage</p>
<p>@_errorDescription</p>

@code {
    private string _errorMessage;
    private string _errorDescription;
    private string state {get;set;}
    private string error {get;set;}
    private string errorDescription {get;set;}

    protected override void OnInitialized()
    {

        var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
        QueryHelpers.ParseQuery(uri.Query).TryGetValue("state", out var state);

        if (state == "12345")
        {
            QueryHelpers.ParseQuery(uri.Query).TryGetValue("error", out var error);

            QueryHelpers.ParseQuery(uri.Query).TryGetValue("error_description", out var errorDescription);


            if (error == "")
            {
                Navigation.NavigateTo("/");
            }

            _errorMessage = $"Error: {error}";

            _errorDescription = $"Description: {errorDescription}";
        }
    }
    }